/* 标签选择器、类选择器、id选择器、通配符（选择所有的标签*{}） */
p {
  color: brown;
}
.z {
  color: aqua;
  /* font-size: 25px; */
  /* 字体粗细 */
  /* font-weight:700; */
  /* 字体倾斜 */
  /* font-style: normal; */
  /* 行高等于文字则垂直居中 */
  /* line-height: 25px; */

  /* 是否倾斜 是否加粗 字号/行高 字体 */
  font: narmal 700 18px/30px "华为琥珀";
  /* 文本缩进 */
  text-indent: 2em;
}

#e {
  color: blueviolet;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: pink;
  /* 垂直居中 */
  line-height: 100px;
  /* 水平居中 */
  text-align: center;
}
.box2 {
  width: 150px;
  height: 150px;
  background-color: blue;
}
body {
  background-color: #235a38a6;
}
.box {
  width: 234px;
  height: 300px;
  background-color: #d7d6da;
  text-align: center;
}
h3 {
  font-weight: 400;
  font-size: 14px;
}
span {
  font-size: 12px;
  color: brown;
  text-decoration: underline;
}
img{
            
  width: 100%;
}
h4{
  font-size: 26px;
  color: #333;
  text-align: center;
}
a.l{
  font-size: 20px;
  color: #999;
  text-align: right;
  text-decoration: none;
}
